@import "tailwindcss";

@theme {
  --color-primary: #2DD4BF;
  --color-accent: #2DD4BF;
}

@layer base {
  :root {
    --background: #0A0A0B;
    --foreground: #F8FAFC;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }

  .stroke-text {
    -webkit-text-stroke: 1.5px #F8FAFC;
    color: transparent;
    display: block;
    margin: 0;
  }
}
